---
import Layout from '../components/Layout.astro';
import SignupForm from '../components/SignupForm.astro';
---

<Layout title="Gilfoyle | Build better">
  <main>
    <img class="logo" src="logo-edited.png" alt="Gilfoyle" />
    <div class="header">
      <h1>Gilfoyle</h1>
      <div class="intro">
        <p>Your personal AI VP of Architecture.</p>
      </div>
    </div>
    <SignupForm />

    <footer class="footer"><a href="https://allfather.space/">Allfather.</a></footer>
  </main>
</Layout>

<style>
  :root {
    text-align: center;
  }
  .logo {
    width: 200px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80ch;
    height: 100%;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

  main .header h1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
  }

  .btn--red {
    border-color: #ff0000;
    background: #ff0000;
    color: #fff;
  }

  .btn--red:hover {
    border-color: #ff0000;
    background: #ff0000;
    color: #fff;
  }

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
  }

  footer a:hover {
    background: #fff;
    color: #000;
  }
</style>
